<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Site is down</title>
    </head>
    <body>
        <p>Sorry site is down we will be right back!</p>
    </body>
</html>